.container {
    margin-top: 5%;
    padding: 0 5em;
}

.th , label{
    font-family: 'Noto Sans Thai', sans-serif;
}

.dashboard-text {
    border-bottom: 1px solid black;
    text-transform: uppercase;
    padding-bottom: 0.3em;
}

.button {
    margin: 2.5em auto;
    width: 40%;
    background-color: #e68c3a;
    color: white;
    font-weight: 400;
    border: none;
    padding: 0.6em;
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: larger;
    text-decoration: none;
}
/*
a.edit-btn, a.del-btn{
	display: block;
	background-color: #e68c3a;
    color: white;
    font-weight: 400;
    border: none;
    padding: 0.6em;
    border-radius: 5px;
    text-align: center;
    width: 40%;

}
*/
.center .button:hover {
    background-color: #9d9d9d;
    color: black;
    text-decoration: none;
    transition: background-color, color 0.3s;
}

.breadcrum {
    margin: 0.5% 0 0 1%;
}

.breadcrumb-item a {
    color: #595c5f;
}

td input {
    background-color: #e68c3a;
    color: white;
    padding: 0.3em 1em;
    border: none;
}

.head-table-btn {
    width: 30%;
}

/*
.navbar-light .navbar-brand{
	color: white;
}
*/

label {
	display: block;
	text-indent: 5.4em;
	margin-top: 2%;
}

.green {
	color: limegreen;
}
.red {
	color: red;
}

h4 {
	text-indent: 5em;
	margin-bottom: -2em;
}