table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

table,
thead,
tr,
td {
	border: 1px solid white;
}


thead {
	/* background-color: #D9D9D9; */
	background-color: #e68c3a;
	font-weight: 600;
	color: white;
	text-align: center;
}

tbody tr td {
	background-color: beige;
	text-align: left;
}

td {
	padding: 1em;
}